.simplified{
margin-top:5rem;
background-color:hsl(12, 88%, 59%);
padding:4rem 1.5rem;
}
.simp-cont{
display:flex;
justify-content:space-between;
align-items:center;
}
.simp-cont h3{
color:#fff;
font-size:2rem;
}
.simp-cont a{
text-decoration:none;
color:hsl(12, 88%, 59%);
background-color:#fff;
font-size:0.9rem;
padding:0.75rem 2rem;
border-radius:20px;
text-align:center;
font-weight:600;
box-shadow:9px 1px 17px -6px #000000;
}
@media(max-width:600px){
.simp-cont{
display:flex;
flex-direction:column;
justify-content:center;
text-align:center;
}
.simp-cont h3{
font-size:1.8rem;
padding-bottom:1.5rem;
}
}